<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <header class="site-header">
            <span class="site-title">Min första Symfony sida!</span>
        </header>

        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('lucky_number') }}">Random number</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('card') }}">Card</a></li>
                <li><a href="{{ path('session') }}">Session</a></li>
            </ul>
        </nav>        
        {% block body %}{% endblock %}

        <footer class="site-footer">
        Jobbar för fullt med Kmom02 just nu. 

        <a href="https://symfony.com/doc/current/index.html">Symfony dokumentation</a>

        </footer>
    </body>
</html>
