{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Card</h1>

    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
        <li><a href="{{ path('lucky_number') }}">Random number</a></li>
        <li><a href="{{ path('report') }}">Report</a></li>
        <li><a href="{{ path('card') }}">Card</a></li>
    </ul>

{% endblock %}