{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Alla böcker i biblioteket</h1>

    <table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>ISBN</th>
            <th>Författare</th>
            <th>Bild</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>
                <a href="{{ path('show_one', {'id': book.id}) }}">{{ book.id }}</a>
            </td>
            <td>{{ book.titel }}</td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.författare }}</td>
            <td>
                <a href="{{ book.bild }}" target="_blank">Visa bild</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <pre id="output"></pre>
</div>

{% endblock %}
