<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Project{% endblock %}</title>
        
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <header class="site-header">
            <span class="site-title">My project</span>
        </header>

        <nav>
            <ul>
                <li><a href="{{ path('proj') }}">Project</a></li>
                <li><a href="{{ path('proj_about') }}">About</a></li>
            </ul>
        </nav>        
        {% block body %}{% endblock %}

        <footer class="site-footer">
        Sustainibility


        </footer>
    </body>
</html>
