<!DOCTYPE html>
<html>
    <head class="head-proj">
        <meta charset="UTF-8">
        <title>{% block title %}Project{% endblock %}</title>

        <link rel="icon" href="{{ asset('img/glider.svg') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('proj') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="body-proj">

        <header class="site-header-proj">
            <span class="site-title-proj">My project - Sustainibility</span>
        </header>

        <nav>
            <ul>
                <li><a href="{{ path('proj') }}">Project</a></li>
                <li><a href="{{ path('proj_about') }}">About</a></li>
            </ul>
        </nav>        
        {% block body %}{% endblock %}

        <footer class="site-footer-proj">

        <p>@COPYRIGHT - IRMA'S MVC SUSTAINIBILITY PROJECT</p>

        </footer>
    </body>
</html>
